body {
    font-family:Verdana,Geneva,Tahoma,sans-serif;
    font-size:14px;
    background-color:#444455;
    color:#dddddd;
}

#container {
    width:260px;
}

#separator {
    width:50%;
    height:1px;
    margin:10px auto;
    background-color:#aaaaaa;
}

#actions {
    a {
        display:block;
        padding:6px 0;
        margin:4px 0 0 0;
        background-color:#002edd;
        border:3px solid #0022aa;
        border-top:0 none;
        border-left:0 none;
        border-radius:9px;
        text-align:center;
        font-weight:bold;
        color:#f4f4f4;
        text-decoration:none;

        &:first-child {
            margin-top:0;
        }
    }
}

#status {
    padding:0 8px;
}
